// media query for desktop
@media only screen and (min-width: 1025px){ 
    header {
        .logo-sect {
            width: 30%;
            background-color: $lp-gen-background;
        }
        .social-network {
            border: rgb(38, 255, 0) 2px dashed;
            display: block;
            width: 32%;
            height: 100%;
            z-index: 1;
            background-color: $lp-color-wide;
            position: relative;
        }
        // .social-network::after {
        //     content: "";
        //     position: absolute;
        //     background-color: $lp-color-wide;
        //     width: 100%;
        //     height: 230%;
        //     top: 100%;
        // }
        .nav-sect {
            width: 38%;
            background-color: $lp-gen-background;
        }
    }
}