@media only screen and (min-width: 1025px) {
    main {
        .profile-img-area {
            height: 50%;
            div:first-child {
            width: 10%;
            background-color: white;
            z-index: 1;
            .img-con-mobile-media {
                display: none;
                }.huge-name-text-ad, .huge-name-text-ams {
                    font-size: 90px;
                }
                .huge-name-text-ad {
                    width: 10rem;
                    margin-left: 7%;
                }
                .huge-name-text-ams {
                    width: 18rem;
                    margin-left: 15%;
                }
            }
            // huge section in the main
            .big-mainDesktop-bg {
                width: 90%;
                height: 100%;
                position: relative;
                background-color: $bgColor-default;
                // border: 5px red solid;
                // thanks to the article, i could make the profile-img responsive
                .desktop-profileImg-carrier {
                    // border: 2px rgb(196, 58, 58) dotted;
                    background-color: $bgColor-profile-img;
                    width: 31.65%;
                    height: 80%;
                    margin: 0 0 0 18.71%;
                    @include flex-jcCenter-aiCenter;
                    .img-con-desktop-media {
                        display: block;
                        // orange(topRight)= width && pink(downRight)= height
                        // border-top: orange 10px dotted;
                        // border-right: 10px pink dotted;
                        position: absolute;
                        width: 15rem;
                        height: 15rem;
                        transform: rotate(57deg)
                                   skew(20deg);
                        // left: 27%;
                        // top: 15%;
                        z-index: 1;
                        overflow: hidden;
                        img {
                            width: 130%;
                            height: 100%;
                            object-fit: cover;
                            padding: 0 0 0 0;
                            transform: rotate(-44.5deg)
                                        skew(6deg)
                                        scale(1.5)
                                        ;
                                    //   opacity: .2;
                                        position: relative;
                                        top: -4%;
                                        right: 10%;
                                   }
                    }
                }
                .name-containerDesk {
                    position: absolute;
                    width: 25rem;
                    height: 20rem;
                    // border: 3px blue dashed;
                    bottom: -8%;
                    left: -10%;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    span {
                        font-family:'Bungee Hairline', 'Londrina Shadow';
                        font-size: 111.5px;
                        text-transform: uppercase;
                        color: rgba(48, 48, 48, 0.9);
                    }
                    span:first-child {
                        // background-color: rgba(0, 128, 0, 0.5) ;
                        font-size: 115px;
                        position: relative;
                        top: 22%;
                    }
                    span:nth-child(2) {
                        // delete the bg color
                        background-color: rgba(238, 130, 238, 0) ;
                    }
                }
                .info-containerDesk {
                    position: absolute;
                    width: 25rem;
                    height: 20rem;
                    // border: 3px violet dashed;
                    top: 25.3%;
                    right: 7%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    
                    span {
                        font-size: 25px;
                        font-family: Abel ,heebo, sans-serif;
                    }
                    span:first-child {
                        font-weight: bolder;
                        // border: 2px red dashed;
                    }
                    span:nth-child(2) {
                        margin-top: 5%;
                    }
                }
            }

        }
        .class-study-area {
            align-items: center;
            div:first-child, div:nth-child(2), div:last-child  {
                width: 90%;
                justify-content: space-evenly;
                flex-direction: row-reverse;
                align-items: center;
                // a {

                //     margin-right: 5%;
                // }
                    div:nth-child(1) {
                        width: 11rem;
                        height: 11rem;
                        @include flex-jcCenter-aiCenter;
                        margin: 0 5% 0 0;
                    }
                    .periodic-table-gif {
                        object-fit: cover;
                    }
                    span {
                        margin-right: 5%;
                        width: 70%;
                        font-size: 20px;
                        font-family: Abel ,heebo, sans-serif;
                        // border: 1px black solid;
                    }
            }
        }
    }
} 

// @media only screen and (min-width: 1200px) {
//     .div:nth-child(2) {
//         background-color: aliceblue;
//     }
// }

@media only screen and (min-width: 1425px) {
    .name-containerDesk {
        position: absolute;
        // border: 3px rgb(12, 12, 17) dashed;
        bottom: 15%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            font-family:'Bungee Hairline', 'Londrina Shadow';
            font-size: 125.5px;
            text-transform: uppercase;
            color: rgba(48, 48, 48, 0.9);
        }
        span:first-child {
            // background-color: rgba(0, 128, 0, 0.5) ;
            font-size: 135px;
            position: relative;
            top: 22%;
        }
        span:nth-child(2) {
            // delete the bg color
            background-color: rgba(238, 130, 238, 0) ;
        }
    }
    .info-containerDesk {
        position: absolute;
        width: 25rem;
        height: 20rem;
        // border: 3px violet dashed;
        top: 6%;
        right: 25%;
        @include flex-column-aiCenter-jcEvenly;
        // display: flex;

        
        span {
            font-size: 25px;
            font-family: Abel ,heebo, sans-serif;
        }
        span:first-child {
            font-weight: bolder;
            // border: 2px red dashed;
        }
        span:nth-child(2) {
            margin-top: 5%;
        }
    }
}