@media only screen and (min-width: 1025px) {
    main {
        .profile-img-area {
            height: 50%;
            div:first-child {
            width: 10%;
            background-color: aqua;
            z-index: 1;
            .img-con-mobile-media {
                display: none;
                }.huge-name-text-ad, .huge-name-text-ams {
                    font-size: 90px;
                }
                .huge-name-text-ad {
                    width: 10rem;
                    margin-left: 7%;
                }
                .huge-name-text-ams {
                    width: 18rem;
                    margin-left: 15%;
                }
            }
            // huge section in the main
            div:nth-child(2) {
                width: 90%;
                height: 100%;
                position: relative;
                background-color: $bgColor-default;
                // border: 5px red solid;
                // thanks to the article, i could make the profile-img responsive
                article {
                    border: 2px rgb(196, 58, 58) dotted;
                    background-color: $bgColor-profile-img;
                    width: 35.8%;
                    height: 80%;
                    margin: 0 0 0 22%;
                    @include flex-jcCenter-aiCenter;
                    .img-con-desktop-media {
                        display: block;
                        background-color: rgb(62, 72, 204), 0;
                        // orange(topRight)= width && pink(downRight)= height
                        // border-top: orange 10px dotted;
                        // border-right: 10px pink dotted;
                        position: absolute;
                        width: 15rem;
                        height: 15rem;
                        transform: rotate(57deg)
                                   skew(20deg);
                        // left: 27%;
                        // top: 15%;
                        z-index: 1;
                        overflow: hidden;
                        img {
                            width: 130%;
                            height: 100%;
                            object-fit: cover;
                            padding: 0 0 0 0;
                            transform: rotate(-44.5deg)
                                        skew(6deg)
                                        scale(1.5)
                                        ;
                                    //   opacity: .2;
                                        position: relative;
                                        top: -4%;
                                        right: 10%;
                                   }
                    }
                }
            }

        }
        .class-study-area {
            align-items: flex-end;
            div:first-child, div:nth-child(2), div:last-child  {
                width: 90%;
                justify-content: flex-start;
                flex-direction: row-reverse;
                align-items: center;
                    div:nth-child(1) {
                        width: 11rem;
                        height: 11rem;
                        margin-right: 5%;
                        @include flex-jcCenter-aiCenter;
                        margin: 0 5% 0 0;
                    }
                    .periodic-table-gif {
                        object-fit: cover;
                    }
                    span {
                        margin-right: 5%;
                        width: 60%;
                    }
            }
        }
    }
} 

// @media only screen and (min-width: 1200px) {
//     .div:nth-child(2) {
//         background-color: aliceblue;
//     }
// }