.body-grid {
  display: grid;
  width: 100vw;
  height: 50vh;
  grid-template-columns: 100%;
  grid-template-rows: 30vh 120vh 30vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
  background-color: rgb(235, 208, 208);
  display: flex;
  .logo-sect {
    border: 2px red dashed;
    width: 50%;
    height: 100%;
  }
  .nav-sect {
    border: 2px red dashed;
    width: 50%;
    height: 100%;
  }
}
main {
  grid-area: main;
  border: 2px blue solid;
  .profil-img-area {
    border: 2px rgb(0, 204, 255) dashed;
    width: 100%;
    height: 45%;
  }
}
footer {
  grid-area: footer;
  border: 2px green solid;
}