  .logo-sect {
    background-color: $lp-color-wide;
    width: 50%;
    height: 100%;
  }
  .social-network {
    display: none;
  }
  .nav-sect {
    background-color: $header-nav-bg;
    width: 50%;
    height: 100%;
  }
