//Variables

// colors
// $my-color: orange;
$bgColor-default: blanchedalmond;
$lp-color-wide: #fa91a8;
$bgColor-profile-img: #f1aa92;
$bgColor-social-network: #f1aa92;
$bgColor-header-logo: rgb(255, 254, 254);
$bgColor-header-nav: rgb(255, 254, 254);
$bgColor-header-nav-mobile: rgb(240, 218, 218);
$bgColor-class-study-area: rgb(243, 230, 230);
$bgColor-footer-section: rgb(187, 187, 187);
// sizes

// others
