//Variables

// colors
// $my-color: orange;
$lp-color-wide: #f1aa92;
$lp-color-behind-img: #fa91a8;
$lp-gen-background: blanchedalmond;
$header-nav-bg: rgb(255, 254, 254);
$bgColor-class-study-area: rgb(243, 230, 230);
$bgColor-footer-section: rgb(187, 187, 187);
// sizes

// others
